<!DOCTYPE html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weather">
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css" />   
</head>

<body>
    
<div class="main-content">
{{>header}}
<p>seems like you have no idea how the internet works!</p>
<p>{{errormessage}}</p>
<p> use one of the links to get back on track!</p>


</div>
{{>footer}}

</body>



</html>
